<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/person.jpg" alt="Abhi" class="img-fluid" title="Abhishek">
                        </figure>
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am an enthusiastic<span class="text_clr"> Software Engineer </span> </h1>
                        <a href="/about"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>